xsd/site-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://christianbud.de/site-config"
           xmlns="http://christianbud.de/site-config"
           xmlns:t="http://christianbud.de/site-config"
           elementFormDefault="qualified">

    <xs:element name="config">
        <xs:complexType>
            <xs:all>
                <xs:element name="siteInfo" minOccurs="1">
                    <xs:complexType>
                        <xs:all minOccurs="1">
                            <xs:element name="domain">
                                <xs:complexType>
                                    <xs:attribute name="name" type="xs:string" use="required"/>
                                    <xs:attribute name="extension" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="owner">
                                <xs:complexType>
                                    <xs:attribute name="name" use="required" type="xs:string"/>
                                    <xs:attribute name="mail" use="required" type="xs:string"/>
                                    <xs:attribute name="username" use="required" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="defaultPages" type="pageSequence" minOccurs="0">
                    <xs:unique name="defaultPages">
                        <xs:selector xpath="t:page"/>
                        <xs:field xpath="@id"/>
                    </xs:unique>
                </xs:element>
                <xs:element name="preScripts" type="linkedValClassSequence" minOccurs="0">
                    <xs:unique name="preScriptName">
                        <xs:selector xpath="t:class"/>
                        <xs:field xpath="."/>
                    </xs:unique>
                </xs:element>

                <xs:element name="AJAXTypeHandlers" type="linkedValClassSequence" minOccurs="0">
                    <xs:unique name="AJAXTypeHandlersName">
                        <xs:selector xpath="t:class"/>
                        <xs:field xpath="."/>
                    </xs:unique>
                </xs:element>
                <xs:element name="postScripts" type="linkedValClassSequence" minOccurs="0">
                    <xs:unique name="postScriptName">
                        <xs:selector xpath="t:class"/>
                        <xs:field xpath="."/>
                    </xs:unique>
                </xs:element>
                <xs:element ref="templateAbstractElement" minOccurs="0"/>

                <xs:element name="pageElements" type="namedLinkedValClassSequence" minOccurs="0">
                    <xs:unique name="pageElementName">
                        <xs:selector xpath="t:class"/>
                        <xs:field xpath="@name"/>
                    </xs:unique>
                </xs:element>
                <xs:element name="MySQLConnection" type="dbConnectionWithPasswordAndFolder" minOccurs="0"/>
                <xs:element name="debugMode" type="xs:boolean" minOccurs="0"/>
                <xs:element name="enableCache" type="xs:boolean" minOccurs="0"/>
                <xs:element name="enableUpdater" type="xs:boolean" minOccurs="0"/>
                <xs:element name="tmpFolder" type="requiredPathAttribute" minOccurs="0"/>
                <xs:element name="log" type="requiredPathAttribute" minOccurs="0"/>
                <xs:element name="variables" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="var" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:attribute name="key" type="xs:string" use="required"/>
                                    <xs:attribute name="value" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                    <xs:unique name="variables">
                        <xs:selector xpath="t:var"/>
                        <xs:field xpath="@key"/>
                    </xs:unique>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>


    <xs:complexType name="dbConnection">
        <xs:all>
            <xs:element name="host" type="xs:anyURI"/>
            <xs:element name="database" type="xs:string"/>
            <xs:element name="username" type="xs:string"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="dbConnectionWithPasswordAndFolder">
        <xs:all>
            <xs:element name="host" type="xs:anyURI"/>
            <xs:element name="database" type="xs:string"/>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
            <xs:element name="folders" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="folder" maxOccurs="unbounded" minOccurs="1">
                            <xs:complexType>
                                <xs:attribute name="path" type="xs:anyURI" use="required"/>
                                <xs:attribute name="name" type="xs:string" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="folders">
                    <xs:selector xpath="t:folder"/>
                    <xs:field xpath="@name"/>
                </xs:unique>
                <xs:unique name="foldersPath">
                    <xs:selector xpath="t:folder"/>
                    <xs:field xpath="@path"/>
                </xs:unique>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="pageSequence">
        <xs:sequence>
            <xs:element name="page" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="alias" type="xs:string" use="required"/>
                            <xs:attribute name="template" type="xs:string" use="required"/>
                            <xs:attribute name="id" type="name" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:element name="templateAbstractElement" abstract="true"/>

    <xs:element name="templates" substitutionGroup="templateAbstractElement">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="template" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="filename" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="path" type="xs:anyURI" use="required"/>
            <xs:attribute name="namespace" type="xs:string" use="optional"/>
        </xs:complexType>
        <xs:unique name="templates">
            <xs:selector xpath="t:template"/>
            <xs:field xpath="."/>
        </xs:unique>
    </xs:element>

    <xs:element name="templateCollection" substitutionGroup="templateAbstractElement">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="templates" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="templates_path">
            <xs:selector xpath="t:templates"/>
            <xs:field xpath="@path"/>
        </xs:unique>
        <xs:unique name="template_in_templates_path">
            <xs:selector xpath="t:templates/t:template"/>
            <xs:field xpath="."/>
        </xs:unique>
    </xs:element>
    <!--
                          <xs:element name="templates" type="templateSequence" minOccurs="0">

                          </xs:element>
                          <xs:element name="templateFolders" minOccurs="0">
                              <xs:complexType>
                                  <xs:sequence>

                                      <xs:element name="folder" minOccurs="1" maxOccurs="unbounded">
                                          <xs:complexType>
                                              <xs:attribute name="path" type="xs:anyURI" use="required"/>
                                              <xs:attribute name="namespace" type="xs:string" use="optional"/>
                                          </xs:complexType>
                                      </xs:element>
                                  </xs:sequence>
                              </xs:complexType>
                              <xs:unique name="templateFolders">
                                  <xs:selector xpath="t:folder" />
                                  <xs:field xpath="@path" />
                              </xs:unique>
                          </xs:element>-->


    <xs:complexType name="requiredPathAttribute">
        <xs:attribute name="path" type="xs:anyURI" use="required"/>
    </xs:complexType>

    <xs:complexType name="linkedValClassSequence">
        <xs:sequence>
            <xs:element name="class" type="linkedVal" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="ajaxIdLinkedValClassSequence">
        <xs:sequence>
            <xs:element name="class" type="ajaxIdLinkedVal" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="namedLinkedValClassSequence">
        <xs:sequence>
            <xs:element name="class" type="namedLinkedVal" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="linkedVal">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:anyURI" name="link" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <xs:complexType name="namedLinkedVal">
        <xs:simpleContent>
            <xs:extension base="linkedVal">
                <xs:attribute type="name" name="name" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="ajaxIdLinkedVal">
        <xs:simpleContent>
            <xs:extension base="linkedVal">
                <xs:attribute type="name" name="ajax_id" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <xs:simpleType name="name">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z\-_]+"/>
        </xs:restriction>
    </xs:simpleType>


</xs:schema>